body{
    background-color: #08080A;
    font-family: 'Outfit', sans-serif;
}

/* Paradise Logo  */
.logo-wrapper{
    margin-right: 117px;
}
.paradise-logo{
    background: linear-gradient(94.33deg, #00886F 0.56%, #54C451 96.6%, #54C451 96.6%);
    width: 47px;
    height: 47px;
    border-radius: 50px;
    margin-right: 22px;
}
.logo-txt{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/* navbar  */
.navbar{
    margin-bottom: 79px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.nav-link{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    color: #FFFFFF;
}
.active{
    font-weight: bold;
    color: #59F095;
}

/* button  */

.btn-outline-primary {
    color: #58EA92;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #13F3C9, #54C351);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0B0B17 inset;
}
.btn{
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 10px 20px;
}

/* fonts text  */
h1{
    
}
span{
    background: linear-gradient(to right, #13F3C9 0%, #54C351 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

section.hero {
    background-color: #0B0B17;
    padding: 54px 0px 123px;
}




/* // X-Small devices (portrait phones, less than 576px) */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }